.row {
	text-align: center;
}

.header {
		text-transform: uppercase;
	 font-size: 36px;
	 padding-bottom: 60px;
}

p {
	 font-size: 18px;
	 margin-top: 50px;

}

img { 
height: 140px;
}

